{% extends "registration_base.html" %}
{% load static %}

{% block title %}検診結果の編集{% endblock %}

{% block contents %}
<div class="container my-3">
    <h2 class="text-center my-3">検診結果の編集</h2>
<!--<h1>日記編集</h1>-->

{% load django_bootstrap5 %}
    <div class="container my-3" style="max-width:700px">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <!--{{ form.as_p }}-->
            <input class="form-control btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}