{% extends "registration_base.html" %}
{% load static %}
{% block title %}Web上にあなたとあなたの新しい家族の日記を保存出来る|Family Diary{% endblock %}

{% block header %}
<h4>{{ user }}さん、こんにちは！</h4>
<h2 class="masthead-subheading mt-5 mb-2">～  あなたと新しく迎える家族の記録を残そう  ～</h2>
{% endblock %}

{% block main %}

{% endblock %}

{% block contents %}
<h2 class="masthead-subheading mt-5 mb-2 ">Web Diary</h2>
          <p>あなたと子供の記録をWeb上で作成/保存/編集/削除ができる日記</p>
<h2 class="masthead-subheading mt-5 mb-2">Save Your Inspection Results</h2>
          <p>簡単に見返せるように検診結果を記録しよう</p>
<h2 class="masthead-subheading mt-5 mb-2">Membership System</h2>
          <p>会員制のWeb日記サービス</p>
{% endblock %}